---
version: "3"
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      UMASK: ${UMASK}
      TZ: ${TZ}    
    labels:
      traefik.enable: true
      traefik.http.routers.sonarr.entryPoints: https
    networks:
      - proxy
    volumes:
      - ${CONFIG_DIR}/sonarr:/config
      - /mnt/volatile/volatile:/data
    ports:
      - 8989:8989
    restart: unless-stopped

networks:
  proxy:
    driver: bridge
    external: true