---
version: "3"
services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      UMASK: ${UMASK}
      TZ: ${TZ}
    labels:
      traefik.enable: true
      traefik.http.routers.sabnzbd.entryPoints: https
    networks:
      - proxy
    volumes:
      - ${CONFIG_DIR}/sabnzbd:/config
      - /mnt/volatile/volatile:/data
    ports:
      - 8081:8080
    restart: unless-stopped

networks:
  proxy:
    driver: bridge
    external: true