---
version: '3'
services:
  traefik:
    container_name: traefik
    image: traefik:latest
    ports:
      - 1880:80
      - 18443:443
      - 8083:8080 # Dashboard port
    volumes:
      - ~/docker/traefik/:/etc/traefik/
    networks:
      - proxy
    labels:
      traefik.http.routers.api.rule: Host(`traefik.silentijsje.com`)    # Define the subdomain for the traefik dashboard.
      traefik.http.routers.api.entryPoints: https    # Set the Traefik entry point.
      traefik.http.routers.api.service: api@internal    # Enable Traefik API.
      traefik.enable: true   # Enable Traefik reverse proxy for the Traefik dashboard.
    environment:
      DOCKER_HOST: dockersocket
      CF_DNS_API_TOKEN: TVrLW_cmL_qH8HLKWvkCPCqVSdg1fZOcZibEnSHk
    restart: unless-stopped
    depends_on:
      - dockersocket

  dockersocket:
    container_name: dockersocket
    image: tecnativa/docker-socket-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - proxy
    environment:
      CONTAINERS: 1
      POST: 0
    privileged: true
    restart: unless-stopped

networks:
  proxy:
    driver: bridge
    external: true