---
version: "3"
services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      UMASK: ${UMASK}
      TZ: ${TZ}
    volumes:
      - ${CONFIG_DIR}/radarr:/config
      - /mnt/volatile/volatile:/data
    ports:
      - 7878:7878
    restart: unless-stopped

networks:
  proxy:
    driver: bridge
    external: true