---
version: "3"
services:
  podgrab:
    image: akhilrex/podgrab
    container_name: podgrab
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
      CHECK_FREQUENCY: ${CHECK_FREQUENCY}
    volumes:
      - ${CONFIG_DIR}/podgrab:/config
      - /mnt/volatile/volatile/Media/Podcast:/assets
    ports:
      - 8082:8080
    restart: unless-stopped

networks:
  proxy:
    driver: bridge
    external: true